#root{
  color: #777777;
  font-family: Lato;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
  
textarea{
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

/**********************************/
/*Share Comments*/
/*********************************/

.shareCommentContainer{
  background: none repeat scroll 0 0 #f5f5f5;
   margin: 20px 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 60%;
}

.shareCommentContainer textarea {
  height: 100px;
  padding: 20px;
  width: 100%;
  border: 1px solid #F2F2F2;
  outline: none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  
}

.shareCommentContainer .btn-success{
  padding: 6px 15px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 9px;
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #5cb85c;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #fff;
}

.shareCommentContainer button:hover{
  cursor: pointer;
  background-color: #008000;
}


/**********************************/
/*Display Comments*/
/*********************************/

.commentContainer {
  position: relative;
  max-width:  60%;
  height: auto;
  margin: 20px 10px;
  padding: 10px;
  border: 1px solid #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
  border-radius: 4px;  
}

.commentText {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

.commentText > textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #F2F2F2;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.commentContainer button{
  margin-right : 10px;
  margin-top: 20px;
  padding: 6px 12px;
  color: #333;
  background-color: #F5F5F5;
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #DCDCDC;
  outline:none;
}

.commentContainer button:hover{
  cursor: pointer;
  background-color: #e6e6e6;
  border-color: #adadad;
}

body {
  font-family: 'PT Sans', sans-serif;
  padding: 2rem;
}
/* button {
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em; // 12px/16px
  display: inline-block;
  text-decoration: none;
  
  &:hover {
    cursor: pointer;
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }
} */
.comment-box {
  max-width: 37.5rem;
  color: #fff;
  background-color: #909090;
  border-radius: 0.875rem;
  padding: 0.2rem 1rem 2rem;
}
.comment-form {
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem;  
}
/* .comment-form-fields {
  margin-bottom: 0.25rem;
  input, textarea {
    border: none;
    border-bottom: 1px solid #404040;
    font-size: 0.85rem;
    padding: 0.25rem 0;
    width: 99%;
    
    &:focus {
      border-bottom-color: #00BDFC;
      outline: none;
    }
  }
  textarea {
    font-style: italic;
  }
} */
.comment{
  padding: 30px;
}
.App{
  background-color:#F5F5F5;
}
